# Formatação de espaço em branco

In [3]:
for i in [1, 2, 3, 4, 5]:
    print (i)                        # primeira linha para o bloco "for i"
    for j in [1, 2, 3, 4, 5]:
        print (j)                    # primeira linha para o bloco "for j"
        print (i + j)                # última linha para o bloco "for j"
    print (i)                        # última linha para o bloco "for i"
print ("dona looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
dona looping

# Módulos

In [4]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [5]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)

In [6]:
import matplotlib as plt

In [8]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

# Aritmética

In [12]:
# Divisão de inteiros
5 / 2

2.5

In [13]:
5 // 2

2

# Funções

### - Função simples

In [19]:
def double(x):
    return x * 2

In [20]:
double(5)

10

### - Primeira classe

In [21]:
def apply_to_one(f):
    return f(1)

In [22]:
my_double = double
x = apply_to_one(my_double)

In [23]:
x

2

### - Funções anônimas ou lambdas

In [27]:
y = apply_to_one(lambda x: x + 4)

In [28]:
y

5

In [30]:
another_double = lambda x: 2 * x        # não faça isso
def another_double(x): return 2 * x     # faça isso

### - Argumentos padrões nos parâmetros

In [31]:
def my_print(message="my default message"):
    print(message)

In [32]:
my_print("hello")
my_print()

hello
my default message

In [33]:
def subtract(a=0, b=0):
    return a - b

In [35]:
print(subtract(10, 5))
print(subtract(0, 5))
print(subtract(b=5))

5
-5
-5

# String

In [36]:
#Aspas simples ou duplas devem combinar
single_quote_string = 'data science'
double_quote_string = "data science"

In [41]:
#Caracteres especiais "\"
tab_string = "\t Wellyson"

In [42]:
print(tab_string)

	 Wellyson

In [43]:
len(tab_string)

10

In [46]:
# String bruta usando r""
not_tab_string = r"\t"

In [47]:
print(not_tab_string)

\t

# Exceções

In [49]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

# Listas

In [51]:
integer_list = [1, 2, 3]
heterogeneous_list = ["String", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]

In [52]:
list_length = len(integer_list)
list_sum = sum(integer_list)

In [53]:
print(list_length)
print(list_sum)

3
6

### - Configurar o elemento n-ésimo de uma lista

In [82]:
x = list(range(10))

In [83]:
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
zero = x[0]

In [85]:
print(zero)

0

In [86]:
one = x[1]

In [87]:
print(one)

1

In [88]:
nine = x[-1]

In [89]:
print(nine)

9

In [90]:
eight = x[-2]

In [91]:
print(eight)

8

In [92]:
x[0] = 5

In [93]:
print(x[0])

5

In [94]:
print(x)

[5, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### - Repartir listas

In [98]:
first_three = x[:3]
print(first_three)

[5, 1, 2]

In [99]:
three_to_end = x[3:]
print(three_to_end)

[3, 4, 5, 6, 7, 8, 9]

In [100]:
one_to_four = x[1:5]
print(one_to_four)

[1, 2, 3, 4]

In [101]:
last_three = x[-3:]
print(last_three)

[7, 8, 9]

In [102]:
without_first_and_last = x[1:-1]
print(without_first_and_last)

[1, 2, 3, 4, 5, 6, 7, 8]

In [103]:
copy_of_x = x[:]
print(copy_of_x)

[5, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### - Operador "in" para verificar a associação à lista

In [105]:
1 in [1, 2, 3]

True

In [106]:
0 in [1, 2, 3]

False

### - Concatenar listas

In [108]:
x = [1, 2, 3]
x.extend([4, 5, 6])

In [109]:
print(x)

[1, 2, 3, 4, 5, 6]

In [110]:
x = [1, 2, 3]
y = x + [4, 5, 6]

In [111]:
print(y)

[1, 2, 3, 4, 5, 6]

In [112]:
x = [1, 2, 3]
x.append(0)

In [113]:
print(x)

[1, 2, 3, 0]

In [115]:
y = x[-1]
z = len(x)

In [119]:
print(y)
print(z)

2
4

### - Desfazer listas

In [122]:
x, y = [1, 2]

In [123]:
print(x)
print(y)

1
2

In [124]:
_, y = [1, 2]

In [125]:
print(y)

2

# Tuplas

In [127]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4

In [131]:
# Você pode modificar uma lista
my_list[1] = 3

In [132]:
print(my_list[1])

3

In [133]:
# Você não pode modificar uma tupla
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [134]:
# tuplas são uma maneira eficaz de retornar múltiplos valores a partir das funções
def sum_and_product(x, y):
    return (x + y),(x * y)

In [135]:
sp = sum_and_product(2, 3)

In [136]:
print(sp)

(5, 6)

In [137]:
s, p = sum_and_product(5, 10)

In [138]:
print(s)
print(p)

15
50

In [139]:
# tuples (e listas) também podem ser usadas para atribuições múltiplas
x, y = 1, 2

In [140]:
print(x)
print(y)

1
2

In [141]:
x, y = y, x

In [142]:
print(x)
print(y)

2
1

# Dicionários

In [4]:
empty_dict = {}                        # Pythonic
empty_dict2 = dict()                   # menos Pythonic
grades = { "Joel" : 80, "Tim" : 95 }   # dicionário literal